@page
@model PS.Web.Admin.Pages.Test.IndexModel
@{
	Layout = "_LayoutDashboard";
}

@section BreadCrumb{
	<div class="breadcrum-wrap">
		<ol class="flex"> 
			<li class="breadcrumb-item"> <a href="#">Home</a> </li> 
			<li class="breadcrumb-item"> <a href="#">Library</a> </li> 
			<li class="breadcrumb-item active">Data</li> </ol>
	</div>



}

<section class="section">
	<div class="content-container">
		<div class="content-item flex">
			<div class="onebytwo-grid-wrap grid">

				<div class="dashboard-grid-item-wrap">
					<div class="dashboard-grid-item flex">
						<div class="details-wrap flex">
							<p>Total Users</p>
							<h1>12</h1>							
							<div class="grid-item-meta flex">
								<span class="color-success">
									<span class="material-symbols-sharp">
										arrow_upward
									</span>
									<strong>25.36%</strong>
								</span>
								<small>Since last month</small>
							</div>
						</div>
						<div class="grid-item-rhs flex">
							<span class="material-symbols-sharp">
								trending_up
							</span>
						</div>
					</div>
				</div>

				<div>
					<h1>SOME ITEM</h1>
				</div>
			</div>
		</div>
		<div class="content-item flex">
			<h2>One by Three content</h2>
			<div class="onebythree-grid-wrap grid">
				<!-- dashboard-grid-item-wrap -->
				<div class="dashboard-grid-item-wrap">
					<!-- thirds-widget-wrap -->
					<div class="thirds-widget-wrap">
						<span class="material-symbols-sharp">analytics</span>
						<!-- middle -->
						<div class="middle flex">
							<div class="left">
								<h3>Total Sales</h3>
								<h1>£25,000</h1>
							</div>
							<div class="progress">
								<svg>
									<circle cx="38" cy="38" r="36"></circle>
								</svg>
								<div class="number">
									<p>81%</p>
								</div>
							</div>
						</div>
						<!-- middle ends -->
					</div>
					<!-- thirds-widget-wrap ends -->
				</div>
				<!-- dashboard-grid-item-wrap ends -->
				<!-- dashboard-grid-item-wrap -->
				<div class="dashboard-grid-item-wrap">
					<!-- thirds-widget-wrap -->
					<div class="thirds-widget-wrap">
						<span class="material-symbols-sharp">analytics</span>
						<!-- middle -->
						<div class="middle flex">
							<div class="left">
								<h3>Total Sales</h3>
								<h1>£25,000</h1>
							</div>
							<div class="progress">
								<svg>
									<circle cx="38" cy="38" r="36"></circle>
								</svg>
								<div class="number">
									<p>81%</p>
								</div>
							</div>
						</div>
						<!-- middle ends -->
					</div>
					<!-- thirds-widget-wrap ends -->
				</div>
				<!-- dashboard-grid-item-wrap ends -->



				<div class="dashboard-grid-item-wrap">
					<div class="thirds-widget-wrap">
						<span class="material-symbols-sharp">analytics</span>
						<h1>SOME ITEM</h1>
					</div>
				</div>
				<div class="dashboard-grid-item-wrap">
					<div class="thirds-widget-wrap">
						<span class="material-symbols-sharp">analytics</span>
						<h1>SOME ITEM</h1>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>


