@page
@model PS.Web.Admin.Pages.Test.IndexModel
@{
	Layout = "_LayoutDashboard";
}

<section class="section">
	<div class="content-container">
		<div class="content-item flex">
			<div class="dashboard-grid-wrap grid">

			</div>
		</div>
	</div>
</section>


