@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="section" id="form_account">
    <div class="frm-container">
        <div class="center-form">
<form id="form_account_login" class="form-wrapper" method="post" autocomplete="on">
            <div class="frm-hero-wrap">
                <img src="/img/assets/ps-logo-orange.png" alt="PS">
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset class="field__set">
                <legend class="form__legend">Account Login</legend>
                <div class="form__margin">
                    <label asp-for="Input.UserName" class="control-label" aria-required="true"></label>
                    <input asp-for="Input.UserName" class="form__input" autocomplete="username" placeholder="Email address" aria-label="Email address" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Input.Password" class="control-label" aria-required="true"></label>
                    <input asp-for="Input.Password" class="form__input" autocomplete="current-password" placeholder="Password" aria-label="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Input.RememberMe" class="control-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="form__margin">
                    <input type="submit" valuse="SUBMIT" class="btn btn__default form__button" />
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </fieldset>
        </form>
        </div        
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
