@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="section" id="form_account">
    <div class="container flex">
        <form id="form_account_login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <fieldset class="field__set">
                <legend class="form__legend">Create a new account.</legend>
                <div class="form__margin">
                    <label asp-for="Input.Email" class="control-label" aria-required="true"></label>
                    <input asp-for="Input.Email" class="form__input" autocomplete="username" placeholder="Email address" aria-label="Eail" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Input.Password" class="control-label" aria-required="true"></label>
                    <input asp-for="Input.Password" class="form__input" autocomplete="new-password" placeholder="Password" aria-label="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="Input.ConfirmPassword" class="control-label" aria-required="true"></label>
                    <input asp-for="Input.ConfirmPassword" class="form__input" autocomplete="new-password" placeholder="Password" aria-label="Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <input type="submit" valuse="SUBMIT" class="btn btn__default form__button" />
                </div>
            </fieldset>
        </form>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
