@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');



:root {
    --color-primary: #60A0FF;
    --color-secondary: #B7DBE1;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #CFCFCF;
    --color-info-light: #EDEEF0;
    --color-dark: #363949;
    --color-light: #272727;
    /*--color-primary-variant: #111e88;*/
    /*--color-dark-variant: #677483;*/
    --color-background: #0b0b0b; /*#f6f6f9;*/
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    /*========== 
        Margins Bottom 
    ==========*/
    --mb-0-5: .5rem; /* 8px */
    --mb-0-75: .75rem; /* 12px */
    --mb-1: 1rem; /* 16px */
    --mb-1-5: 1.5rem; /* 24px */
    --mb-2: 2rem; /* 32px */
    --mb-2-5: 2.5rem; /* 40px */
    --mb-3: 3rem; /* 48px */
    --mb-4: 3.6rem; /* 65px */
    /*========== z index ==========*/
  
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-info-dark);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-variant);
}


html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem; /* 16px */
    color: var(--color-dark);
    user-select: none;
    overflow-x: hidden;
    background: var(--color-background);
}


.body-wrap {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

/* Grid */
.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    /* Gap - sets the gaps (gutters) between rows and columns.*/
    gap: 1.8rem; /* 28.8px */
    /* Grid template
            Aside - 14rem(224px)
            Main -  auto 
    */
    grid-template-columns: 14rem auto;
}

.add-top-margin{
    margin-top: 56px;
}
/*
    GENERAL STYLES
*/
a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary-variant);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/*
    TYPOGRAPHY
*/

h1 {
    font-weight: 800;
    font-size: 1.8rem; /* 28*/
}

h2 {
    font-size: 1.5rem; /* 24.px */
}

h3 {
    font-size: 1.25em; /* 20px*/
}

h4 {
    font-size: 0.75rem; /* 12px */
}

h5 {
    font-size: 0.525rem; /* 8.4px */
}

small {
    font-size: 0.575rem; /* 9.2px */
}

.text-muted {
    color: var(--color-info-dark)
}

/*
    TYPOGRAPHY ENDS
*/

.profile-photo {
    width: 2.8rem; /* 44.8px */
    height: 2.8rem; /* 44.8px */
    border-radius: 50%;
    overflow-x: hidden;
}

/*
    NAVIGATION
*/
main {
    overflow: auto;
    height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

#navbar-main {
    width: 98%;
    height: 60px;
    position: fixed;
    display: block;
    padding: 0.5rem 0;  /* 8px */
}

#navbar-main .container{
    padding: 0 16px 0 16px;
    width: 98%;
}

.menu-btn-wrap,
.menu-btn-close {
    width: 38px;
    padding-top: 6px;
    display: none;
}

.menu-btn-wrap span,
.menu-btn-close span{
    font-size: 2rem;
}

#menu-btn-close{
    display: none;
}

#navbar-main .container .logo {
    display: flex;
    gap: 0.8rem;
}
.logo{
    height: 28px;
    margin: 6px auto;
}

.logo img{
    object-fit: contain;
}

.nav-wrap-rhs{
    width: 100%;
    height:auto;
    overflow: hidden;
    grid-template-columns: 1fr;
}

.nav-right-wrap {
    width: auto;
    margin: 0 auto;
    gap: 1.8rem; /* 28.8px */
    grid-template-columns: auto 448px;
}

.nav-search{
    margin: 0 3rem; /* 48px */
    position: relative;
}

.nav-search input{
    border-width: 2px;
    background-color: transparent;
    transition: none;
    height: 40px;
    width: 500px;
    margin-left:20px;
    color: var(--color-info-dark);
    background-color: var(--color-light);
}

.nav-search .btn{
    position: absolute;
    border: none;
    left: -35px;
    height: 40px;
    margin-top: 4px;
    background-color: transparent;
    height: 42px;
    color: var(--color-info-dark);
    transition: none;
    font-size: 15px;
    padding-right: 14px;
}



.notifications-settings-wrap {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.notifications-settings-wrap .theme-toggler{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem; /* 24px */
    width: 4.25rem; /* 68px */
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.notifications-settings-wrap .theme-toggler span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.notifications-settings-wrap .profile {
    display: flex;
    gap: 1rem;
    text-align: right;
    justify-content: end;
}

.notifications-settings-wrap .logout-wrap,
.notifications-settings-wrap .settings-wrap{
    display: flex;
    text-align: right;
    height: 12px;
}

.notifications-settings-wrap .theme-toggler,
.notifications-settings-wrap .settings-wrap,
.notifications-settings-wrap .logout-wrap
{
    margin-top: 8px;
}

.notifications-settings-wrap .settings-wrap span
.notifications-settings-wrap .logout-wrap span,
.profile .info p{
    color: var(--color-info-dark);
}

.breadcrum-wrap {
    background: var(--color-light);
    margin: 24px auto; /**/
    border-radius: var(--card-border-radius);
    transition: all 300ms ease;
    display: block;
    padding: 4px 0;
}

.breadcrum-wrap ol{
    flex-wrap: wrap;
    padding: 0.75rem 1rem; /* 12px 16px */
    list-style: none;
}

.breadcrum-wrap ol li{
    user-select: none;
}

.breadcrum-wrap ol li a{
    text-decoration: none;
    color: #fff;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem; /* 8px */
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff;
    content: "/";
}

.breadcrum-wrap ol li.active {
    color: var(--color-primary);
}

/*
    NAVIGATION ENDS
*/
aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

/* Message count */
aside .sidebar .message-count {
    background: var(--color-danger);
    columns: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* Logout icon */
aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
    border-radius: 0 16px 16px 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 4px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    /* 1 rem - half of width of aside .sidebar a.active::before */
    margin-left: calc(1rem - 2);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/*
    MAIN
*/
main {
    padding-bottom: 2rem;
}


/* Media Queries 
    1. Smaller laptop
    2. Mobile
*/
@media screen and (max-width: 1200px) {
    .body-wrap,
    #navbar-main,
    #navbar-main .container
    {
        width: 95%;
    }

    #navbar-main .container{
        padding: 0 12px 0 12px;
    }

    .nav-search input {
        width: 23rem;/* 368px */
    }
    .nav-right-wrap {
        grid-template-columns: auto 380px;
    }
}

@media screen and (max-width: 768px) {
    .menu-btn-wrap {
        display: inline;
    }
    .logo {
        height: 25px;
        margin: 6px auto;
    }
    #navbar-main .container {
        grid-template-columns: 2.5rem 10.5rem auto; /* 40px 168px auto */
        gap: 1rem; /* 16px */
        padding: 0 8px;
        margin: 0 4px;
        width: 100%;
    }
    .nav-search {
        margin: 0 1rem; /* 16px */
        position: relative;
    }
    .nav-search input {
        width: 16.5rem; /* 264px */
    }
    .notifications-settings-wrap {
        gap: 1rem;
    }
    .profile .info p,
    .profile .info small {
        display: none;
    }
    .nav-right-wrap {
        grid-template-columns: auto 192px;
    }

    aside {
        position: fixed;
        left: 0;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        left: -100%;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    main{
        width: 94vw;
    }
}

    