/* For small devices */
@media screen and (min-width: 640px) {



}

/* For medium devices */
@media screen and (min-width: 960px) {
}

@media screen and (min-width: 1200px) {

    /* 
        hide mobile header above this breakpoint
    */
    #header__mobile,
    #mobile__header-menu {
        display: none;
    }

    #header__desktop,
    .header__desktop {
        position: fixed;
        display: block;
        width: 100%;
    }

    .nav__desktop-right {
        margin-left: auto;
    }

    .ul.nav__right-links {
        gap: 2rem; /* 32px */
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .dsktop__nav-link-item a {
        padding-left: 0.5rem; /* 8px */
        padding-right: 0.5rem;
        font-weight: var(--font-bold-heavy);
        letter-spacing: var(--letter-spacing-wide);
        font-size: var(--h3-font-size);
        transition: .1s ease-in-out;
        color: #fff;
    }

    /* Flex columns */
    .flex-2-column{
        flex-direction: row;
    }

    /* About */

}