@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,700;9..40,900&display=swap');

:root {
    --black: #2c2c2c;
    --black-2: #1e1e1e; /* Darker */
    --black-3: #171717; /* Darkest */
    --black-4: #181818;
    --green: #1dd1a1;
    --green-active: #10ac84;
    --grey-1: #7f8fa6;
    --grey-2: #718093;
    --white: #EDEDED;
}

body,
button
{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: linear-gradient(90deg, var(--black-3), var(--black));
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.center-form {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


.form-wrapper {
    width: 390px;
    background: var(--black-4);
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    /*box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0px 0px 24px rgba(237, 237, 237, 0.03);
    transition: all 300ms ease;
}

.form-wrapper:hover{
    box-shadow: none;
}

.frm-title {
    display: block;
    line-height: 1.2;
    text-align: center;
    color: var(--white);
    font-size: var(--h2-font-size);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: var(--mb-0-5);
}

.frm-hero-wrap{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: var(--mb-0-5);
    flex-wrap: wrap;
}

.frm-hero-wrap img{
    width: 60px;
    height: 60px;
}

.form__margin label{
    color: var(--white);
}

.frm_links-wrap {
    margin-top: var( --mb-0-75);
    margin-bottom: var( --mb-0-5);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}