@inherits LayoutComponentBase


<PageTitle>PS.Admin</PageTitle>

<div id="navbar-main">
    <NavBarMain />
</div>

<div class="container add-top-margin">
    <SideBar />
    <!-- Main -->
    <main>
        <SectionOutlet SectionName="breadcrumb" />
        @Body
        
    </main>
    <!-- Main Ends -->
</div>
