<nav id="navbar-main">
    <div class="container">
        <div class="menu-btn-wrap">
            <button id="menu-btn">
                <span class="material-symbols-sharp">
                    menu
                </span>
            </button>
            <button id="menu-btn-close">
                <span class="material-symbols-sharp">
                    close
                </span>
            </button>
        </div>
        <div class="logo">
            <img class="header-logo" src="img/assets/dashboard-logo-black.png" alt="PetrolSist" />
        </div>
        <div class="nav-wrap-rhs grid">
            <div class="nav-right-wrap grid">
                <div class="nav-search">
                    <input id="navbar-search" class="form__input" placeholder="search here" type="text" aria-label="search input" />
                    <button class="btn"><i class="fas fa-search"></i></button>
                </div>
                <div class="notifications-settings-wrap">
                    <!--  theme-toggler starts -->
                    <div class="theme-toggler" @onclick="@(() => ToggleTheme())">
                        <span class="material-symbols-sharp active">
                            light_mode
                        </span>
                        <span class="material-symbols-sharp">
                            dark_mode
                        </span>
                    </div>
                    <!--  theme-toggler ends -->
                    <!--  profile  -->
                    <div class="profile">
                        <div class="info">
                            <p>Hey, Michiel</p>
                            <small class="text-muted">Admin</small>
                        </div>
                        <div class="profile-photo">
                            <img src="img/assets/profile-pic-1.jpg" alt="MO">
                        </div>
                        <div class="settings-wrap">
                            <span class="material-symbols-sharp">
                                settings
                            </span>
                        </div>
                        <div class="logout-wrap">

                            <span class="material-symbols-sharp">
                                logout
                            </span>
                        </div>
                    </div>
                    <!--  profile ends -->
                </div>
            </div>
        </div>
    </div>
</nav>

@code {
    void ToggleTheme()
    {
        
    }
}
