<aside>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="active">
            <span class="material-symbols-sharp">
                home
            </span>
            <h3>Home</h3>
        </a>

        <a href="#">
            <span class="material-symbols-sharp">

                dashboard
            </span>
            <h3>Dashboard</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">
                groups
            </span>
            <h3>Employees</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">
                local_gas_station
            </span>
            <h3>Stations</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">
                contacts
            </span>
            <h3>Vendors</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">
                crowdsource
            </span>
            <h3>Customers</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">
                chat_bubble
            </span>
            <h3>Messages</h3>
            <span class="message-count">3</span>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">
                settings
            </span>
            <h3>Settings</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">
                logout
            </span>
            <h3>Logout</h3>
        </a>
    </div>
    <!-- Sidebar Ends -->
</aside>

@code {

}
