@page
@model PS.Web.Admin.Pages.Stations.CreateModel
@{
    ViewData["Title"] = "Add a new petrol station";
}

<section class="section" id="add_station">
    <div class="container flex">
        <form id="form_add_station" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset class="field__set">
                <legend class="form__legend">Add a new country</legend>
                <div class="form__margin">
                    <label asp-for="AddPetrolStationVM.StationName" class="control-label"></label>
                    <input asp-for="AddPetrolStationVM.StationName" class="form__input" placeholder="Station name" aria-label="Station name" />
                    <span asp-validation-for="AddPetrolStationVM.StationName" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="AddPetrolStationVM.StationAddress" class="control-label"></label>
                    <input asp-for="AddPetrolStationVM.StationAddress" class="form__input" placeholder="Station address" aria-label="Station address" />
                    <span asp-validation-for="AddPetrolStationVM.StationAddress" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="AddPetrolStationVM.StationAddress2" class="control-label"></label>
                    <input asp-for="AddPetrolStationVM.StationAddress2" class="form__input" placeholder="Address line 2" aria-label="Address line 2" />
                    <span asp-validation-for="AddPetrolStationVM.StationAddress2" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="AddPetrolStationVM.StationPostcode" class="control-label"></label>
                    <input asp-for="AddPetrolStationVM.StationPostcode" class="form__input" placeholder="Postcode" aria-label="Postcode" />
                    <span asp-validation-for="AddPetrolStationVM.StationPostcode" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="AddPetrolStationVM.CountryId" class="control-label"></label>
                    <select asp-for="AddPetrolStationVM.CountryId" class="form__selectlist" asp-items="new SelectList(Model.AddPetrolStationVM.Countries,
                    nameof(PS.Core.Models.Country.Id), nameof(PS.Core.Models.Country.CountryName))">
                        <option>Please Select</option>
                    </select>
                    <span asp-validation-for="AddPetrolStationVM.CountryId" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="AddPetrolStationVM.VendorId" class="control-label"></label>
                    <select asp-for="AddPetrolStationVM.VendorId" class="form__selectlist" asp-items="new SelectList(Model.AddPetrolStationVM.Vendors,
                    nameof(PS.Core.Models.Vendor.Id), nameof(PS.Core.Models.Vendor.VendorName))">
                        <option>Please Select</option>
                    </select>
                    <span asp-validation-for="AddPetrolStationVM.VendorId" class="text-danger"></span>
                </div>

                <div class="form__margin">
                    <label asp-for="AddPetrolStationVM.Latitude" class="control-label"></label>
                    <input class="form__input-disabled" asp-for="AddPetrolStationVM.Latitude" readonly maxlength="50" placeholder="Latitude" required>
                    <span asp-validation-for="AddPetrolStationVM.Latitude" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <label asp-for="AddPetrolStationVM.Longitude" class="control-label"></label>
                    <input class="form__input-disabled" asp-for="AddPetrolStationVM.Longitude" readonly maxlength="50" placeholder="Longitude" required>
                    <span asp-validation-for="AddPetrolStationVM.Longitude" class="text-danger"></span>
                </div>
                <div class="form__margin">
                    <input type="submit" valuse="SUBMIT" class="btn btn__default form__button" />
                </div>
            </fieldset>
        </form>

        <div>
            <a asp-page="Index">Back to List</a>
        </div>

    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        //  https://gist.github.com/SamSamskies/6033264

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@Model.GoogleApiKey.ToString().ToString()">
        </script>       
       

        <script>


            $(document).ready(function () {
                $('#AddPetrolStationVM_StationPostcode').on('keyup change', function (e) {
                    DoGeoCode();
                });


                function DoGeoCode() {
                    var geocoder = new google.maps.Geocoder();
                    var address = $("#AddPetrolStationVM_StationPostcode").val()

                    geocoder.geocode({ 'address': address }, function (results, status) {

                        //  Only fire when count is 3 or greater
                        var postCodeLength = $("#AddPetrolStationVM_StationPostcode").val().length
                        if (postCodeLength >= 3) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                console.log(results[0].geometry.location.lat())
                                console.log(results[0].geometry.location.lng())

                                $('#AddPetrolStationVM_Latitude').val(results[0].geometry.location.lat());
                                $('#AddPetrolStationVM_Longitude').val(results[0].geometry.location.lng());
                            } else {
                                //  Make Lat / Long input empty not 0! to prevent saving
                                //  without valid lat/long details
                            }
                        }
                    });
                }
            });


        </script>
    }
}
